{% extends "base.html.twig" %}

{% block title %}Médiatheque Click&collect livre{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="">
{% endblock %}

{% block body %}
    <main>
        <div class="row">
            <div class="col-4">
            <!-- 1er cartes -->
                <div class="card">
                <!-- Image de la 1er carte -->
                    <img src="{{ book.picture }}" alt="IMG">
                    <!-- corp de la 1er carte -->
                    <div class="card-body">
                        <!-- Titre de la 1er carte -->
                        <div class="card-title">
                            <h2>{{ book.title }}</h2>
                            <!-- Barre de progrès de la 1er carte -->
                            <!-- Text de la 1er carte -->
                            <p class="card-text">
                                {{ book.description }}<br>
                                {{ book.author }}<br>
                                {{ book.kind }}<br>
                                {{ book.releasedate|date('d-m-Y') }}<br>
                                {{ book.available }}<br>
                            </p>
                        </div>
                    </div>
                    <button class="btn btn-secondary" onclick="window.location.href = '{{ path('app_catalogues') }}';">Retour</a></button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}