{% extends "base.html.twig" %}

{% block title %}Médiatheque Click&collect Catalogue{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/stylecatalogue.css') }}">
{% endblock %}

{% block body %}
    <header class="header">
        <h1 class="h1">Médiathèque Chapelle-Curreaux</h1>
    </header>
    <!-- Bar de menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#"></a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('livres_index') }}">Catalogue</a>
                    </li>
                    {% if is_granted('ROLE_EMPLOYE') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('resa_index') }}">Emprunts</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('resa_index') }}">Emprunt</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_EMPLOYE') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('livres_new') }}">Ajouté un livre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">Administration</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="recherche" onkeyup="rechercher()" name="rech" id="rech">
                    <div id="resultat"></div>
                    {# <button class="btn btn-outline-success" type="submit">Recherché</button> #}
                </form>
            </div>
        </div>
    </nav>
    <main>
        {% if is_granted('ROLE_INSCRIT') %}
            <h2 class="col-12">Catalogue de {{ livres|length }} Livres{#{ pluralize(books|length,'Livre', 'Livres') }#}</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ImgCouverture</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Description</th>
                            <th scope="col">Auteur</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Parution</th>
                            <th scope="col">actions</th>
                            <th scope="col">Reserver</th>
                        </tr>
                    </thead>
                    {% for livre in livres %}
                        <tbody  class="table-striped">
                            <tr>
                                <td>{{ livre.ImgCouverture }}</td>
                                <td>{{ livre.Titre }}</td>
                                <td>{{ livre.Description|u.truncate(50,'...', false) }}</td>
                                <td>{{ livre.Auteur }}</td>
                                <td>{{ livre.Genre }}</td>
                                <td>{{ livre.Parution ? livre.Parution|date('d-m-Y') : '' }}</td>
                                <td>
                                {% if is_granted('ROLE_EMPLOYE') %}
                                    <a class="btn btn-warning btn-sm" href="{{ path('livres_edit', {'id': livre.id}) }}">edit</a>
                                {% endif %}
                                    <a class="btn btn-info btn-sm" href="{{ path('livres_show', {'id': livre.id}) }}">show</a>
                                </td>
                                <td>
                                    {% if livre.disponible > 0 %}
                                        <button class="btn btn-outline-success btn-sm" type="submit" href="{{ path('resa_new', {'id': livre.id}) }}">disponible</button>
                                    {% else %}
                                        <button class="btn btn-danger btn-sm disabled" type="button">non disponible</button>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>        
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <style>
                .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
                .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
            </style>

            <div class="example-wrapper">
                <h2>Bonjour {#{ controller_name }#}!</h2>
                <h4>Merci de patienter pendeant que l'on vous active votre droit. ✅</br>
                sinon contacter directement la Médiathèque.</h4>
            </div>
        {% endif %}
    </main>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/js/style.js') }}"></script>
{% endblock %}
