{% extends 'base.html.twig' %}

{% block title %}New Livres{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/stylecatalogue.css') }}">
{% endblock %}

{% block body %}
    <header class="header">
        <h1 class="h1">Médiathèque Chapelle-Curreaux</h1>
    </header>
    <!-- Bar de menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#"></a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('livres_index') }}">Catalogue</a>
                    </li>
                    {% if is_granted('ROLE_EMPLOYE') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('resa_index') }}">Emprunts</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('resa_index') }}">Emprunt</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_EMPLOYE') %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('livres_new') }}">Ajouté un livre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">Administration</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="recherche" onkeyup="rechercher()" name="rech" id="rech">
                    <div id="resultat"></div>
                    {# <button class="btn btn-outline-success" type="submit">Recherché</button> #}
                </form>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 mb-3 text-center">Ajout d'un Livre</h1>

            {{ include('livres/_form.html.twig') }}

            <a href="{{ path('livres_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}