{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}
    <h1>Livres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ livre.Titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ livre.Description }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.Auteur }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ livre.Genre }}</td>
            </tr>
            <tr>
                <th>Parution</th>
                <td>{{ livre.Parution ? livre.Parution|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ImgCouverture</th>
                <td>{{ livre.ImgCouverture }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{{ livre.Disponible ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_EMPLOYE') %}
        <a href="{{ path('livres_edit', {'id': livre.id}) }}">edit</a>
        {{ include('livres/_delete_form.html.twig') }}
    {% endif %}
    <a href="{{ path('livres_index') }}">back to list</a>
    <a href="{{ path('reservations_new') }}">Reserver</a>
{% endblock %}
